{% extends 'main/base.html' %}
{% block title %}
    Tadbirlar
{% endblock %}
{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Tadbirlar</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          {% for event in events %}
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                  <div class="card-img">
                    <img src="../../static/main/assets/img/events-1.jpg" alt="...">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="">{{ event.title }}</a></h5>
                    <p class="fst-italic text-center">{{ event.date.day }}.{{ event.date.month }}.{{ event.date.year }}</p>
                    <p class="fst-italic text-center">{{ event.date.time.isoformat   }}</p>
                    <p class="card-text">{{ event.body }}</p>
                  </div>
                </div>
              </div>
          {% empty %}
              <h3 style="color:red;text-align: center">Tadbirlar mavjud emas</h3>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->
{% endblock %}